.left-wrapper {
    min-width: 35%;
    padding-top: 66px;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: 1440px) {
        padding-top: 44px;
        min-width: 28%;
    }
}

.heading-wrapper {
    padding-bottom: 55px;
    h1 {
        text-align: center;
        @media screen and (min-width: 1440px) {
        }
    }
}

.groups-container {
    max-height: 100%;
    overflow: auto;
}

.add-group-btn {
    width: 93px;
    height: 93px;
    background-color: #16008b;
    font-size: 70px;
    border-radius: 50%;
    color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    }
}

li.active{
    background-color: rgba(0, 0, 0, 0.117);
}
