.App{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

.left-wrapper{
  width: 35%;
  padding: 44px 60px;
}

.right-wrapper{
  background: #DAE5F5;
  flex-grow: 1;
}